.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid;
  margin: 1rem auto;
  font-size: 1.2rem;
}

.btn-register{
  border-color: $color-accent;
  background-color: $color-primary;
  color: $color-light;
}

header{
  position: relative;
  z-index: 5;
}

nav {
  background-color: $color-primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 40px;

}

.navbar {
  display: flex;
  flex-direction: row;
  color: $color-light;
  justify-content: space-between;
  align-self: center;
  width: 90vw;
  font-size: .9rem;
  font-family: $font-stack;

  a {
    color: $color-light;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li{
      margin-left: 10px;
    }
  }
}

.header-title {
  width: 80vw;
  margin: 2vh auto 2vh;
}

.title{
  font-family: $font-title;
  font-size: 3rem;
  margin: 1rem auto;
}


h1 {
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
}

/*  Spinner  */

.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.logincontainer {
  width: 100vw;
  height: 110vh;
  margin: -10vh 0 0;
  background-size: cover;
  border: 1px solid transparent;
}
.logincard{
  background-color: white;
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 150px auto;
  border-radius: 5px ;
}
.header-title{
  width: 80%;
  margin: 0 auto 2rem;
}
.forminput{
  width: 80%;
  margin: 0 auto 1rem;
}

#birdlist{
  display: none;
}
